    .header__logo {
        text-decoration: none;
        color: $background-dark;
        display: inline-block;
        align-self: center;

        &:hover {
            color: $background-dark;
        }

        span {
            color: $accent-color;
        }
    }
