.navbar__nav {
  display: none;
  list-style: none;
  padding: 10px;
}

.navbar_opened .navbar__nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 32px;
    height: 100%;
    margin: 10% 0;
}

@media screen and (min-width: $screen2) {

  .navbar__nav {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
  }

}
