$socialIcon: black;
$socialIconHover: darkslategray;

$hover-color: #1e87f0;
$accent-color: #5DD3FF;
$primary-color: #091d70;

$background-dark: #333333;
$background-medium: #7e7d7d;
$background-light: #f5f2f0;

$screen1: 576px;
$screen2: 768px;
$screen3: 992px;
$screen4: 1200px;
$screen5: 1400px;
