.social-icons svg path {
  color: $socialIcon;
}

.social-icons svg:hover path {
  color: $socialIconHover;
}

.social-icons {
  display: flex;
  margin-bottom: 0;
}

.social-icons__item {
  margin-right: 1rem;

  &:last-of-type {
    margin-right: 0;
  }
}
