@import "__logo/header__logo.scss";

.header {
    background-color: $background-medium;

    & .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    & a {
    text-decoration-line: none;
}

}
